<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuk.fuckMiuiFps">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="FuckMiuiFps"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
            android:name="xposeddescription"
            android:value="屏蔽MIUI云控刷新率配置,解除高刷与防闪烁互不相容" />

        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>